<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Links</h2>
            <p>My Classmates</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div>
                        <img class="classmate" src="assets/img/brandanMitchellNew.jpg" />
                    </div>
                    <h4><a href="http://mitchellandtech.com/#">Brandan Mitchell</a></h4>
                    <p>Centriq Classmate</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div>
                        <img class="classmate" src="assets/img/userPic.png" />
                    </div>
                    <h4><a href="http://croftcoding.com/" target="_blank">Carter Croft</a></h4>
                    <p>Centriq Classmate</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div>
                        <img class="classmate" src="assets/img/edward.jpg" />
                    </div>
                    <h4><a href="http://edwardbarrier.com/" target="_blank">Edward Barrier</a></h4>
                    <p>Centriq Classmate</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div>
                        <img class="classmate" src="assets/img/clydeImageNew.jpg" />
                    </div>
                    <h4><a href="http://coderclyde.com/" target="_blank">Clyde Parker</a></h4>
                    <p>Centriq Classmate</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div>
                        <img class="classmate" src="assets/img/userPic.png" />
                    </div>
                    <h4><a href="#" target="_blank">Enrique Garcia</a></h4>
                    <p>Centriq Classmate</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div>
                        <img class="classmate" src="assets/img/userPic.png" />
                    </div>
                    <h4><a href="#" target="_blank">Vagust Fox</a></h4>
                    <p>Centriq Classmate</p>
                </div>
            </div>

        </div>

    </div>
</section>