<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Behold... My Stuff</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">WIP</li>
                    <li data-filter=".filter-card">C#</li>
                    <li data-filter=".filter-web">Front End</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/wip.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Storefront App</h4>
                        <p>Mock E-Commerce Site</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/mini.jpg" class="img-fluid" alt="Mini People">
                    <div class="portfolio-info">
                        <h4>Mini Projects</h4>
                        <p>
                            Currently including:
                            <br />JS Digital Clock
                        </p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/wip.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Scheduling Admin Tool</h4>
                        <p>Full-Stack MVC app.</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/clockimage.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>C# Digital Clock</h4>
                        <p>Using a C# Form.</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/bball.jpg" class="img-fluid" alt="A basketball">
                    <div class="portfolio-info">
                        <h4>Basketball Simulator</h4>
                        <p>WIP, but functional</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/wip.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Final Project</h4>
                        <p>This one will be great.</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/randNum.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Guess the Number!</h4>
                        <p>Between 0 and 100.</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/pirateShip.jpg" class="img-fluid" alt="Photo of a Pirate Ship">
                    <div class="portfolio-info">
                        <h4>Text-Based Console App</h4>
                        <p>A Sea Adventure!</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/midwestFitness.jpg" class="img-fluid" alt="A weight room">
                    <div class="portfolio-info">
                        <h4>Midwest Fitness</h4>
                        <p>Pure front-end site for a small business.</p>
                        <div class="portfolio-links">
                            <a href="https://github.com/WesNelson10" target="_blank"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>