<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Northwest Missouri State University</h4>
                    <h5>2018 - 2020</h5>
                    <p><em>Music Education (Tuba!)</em></p>
                    <p>
                        <ul>
                            <li>Practiced for and made the top ensemble (Wind Symphony) in every semester attended.</li>
                            <li>Collaborated with other musicians in small groups to achieve a common goal (group assignments, quintets, general studies, etc.)</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Centriq Training Program</h4>
                    <h5>2021-Present</h5>
                    <p><em>Full Stack Web Development Track</em></p>
                    <p>
                        <ul>
                            <li>HTML, CSS, JS/jQuery</li>
                            <li>SQL, XML, JSON and MVC</li>
                            <li>C#, ReactJS</li>
                            <li>Pair Programming</li>
                            <li>Teamwork, Meeting Deadlines, Perseverance and learning to love problem solving through coding.</li>
                        </ul>
                        <a href="assets/Wes Nelson Resume.docx"><em><strong>Full Resume Download</strong></em></a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Bakery Clerk</h4>
                    <h5>Summer 2018</h5>
                    <p><em>Hy-Vee, Kansas City, MO</em></p>
                    <p>
                        <ul>
                            <li>Wrapped, labeled, and stocked various baked goods.</li>
                            <li>Greeted and assisted customers with kindness.</li>
                            <li>Decorated birthday and event cakes as needed.</li>
                            <li>Collaborated with coworkers to push a certain number of goods to the public.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Summer PE Staff Member</h4>
                    <h5>Summer 2019</h5>
                    <p><em>Park Hill School District, Kansas City, MO</em></p>
                    <p>
                        <ul>
                            <li>Helped oversee the safety of 40+ students per class.</li>
                            <li>Mediated conflicts between students in a calm manner.</li>
                            <li>Brainstormed fun events that met the goals of the class.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Night Janitor</h4>
                    <h5>2021-Present</h5>
                    <p><em>Kimco Services, Merriam, Kansas</em></p>
                    <p>
                        <ul>
                            <li>Met goals with little to no supervision.</li>
                            <li>Met goals in a timely manner.</li>
                            <li>Organized and took accurate inventory of supply closet.</li>
                            <li>Ensured security of building using alarm system.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>